<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Lost and Found System</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body class="hold-transition login-page" style="background-color: rgb(186 193 199);">
<div class="login-box">
    <div class="login-logo">
        <a href="../dashboard.html"><b>Lost and Found</b> System</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Login to your account</p>

            <form th:action="@{login}" method="post">
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="signup.html" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div><!-- /.card -->
</div>
<!-- /.login-box -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>


</body>
</html>
