

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lost and Found System </title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="hold-transition register-page" style="background-color:rgb(186 193 199);">
<div class="register-box">
    <div class="register-logo">
        <a href="../dashboard.html"><b>Lost and Found</b>System </a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form th:action="@{/User}" method="post">
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="-Firstname  -  Middlename  -  Lastname  -">
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="Address">
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-map-marker"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="Contact">
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="Email">
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="Username">
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label>
                        <input type="password" class="form-control" placeholder="Password">
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>

</body>
</html>